
.hide {
  opacity: 0.1;
}

/* https://gradients.shecodes.io/gradients/31 */
.card {
  /* border-radius: 20px; */
  border: 5px solid rgb(32, 40, 48);
  max-width: 300px;
  padding: 30px;
  margin: 0 auto;
  background-color: #28282b;
  background: linear-gradient(180deg, rgb(72, 200, 160), rgb(32, 40, 48));
  cursor: none;
  pointer-events: none;
}

.image {
  width: 100%;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.description {
  color: #d3d3d3;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
}
